USE [master]
GO
/****** Object:  Database [SALTMOVIES]    Script Date: 11/09/2017 09:53:02 p. m. ******/
CREATE DATABASE [SALTMOVIES]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SALTMOVIES', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\SALTMOVIES.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SALTMOVIES_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\SALTMOVIES_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SALTMOVIES].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SALTMOVIES]
GO
/****** Object:  Table [dbo].[Administradores]    Script Date: 11/09/2017 09:53:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Administradores](
	[ID] [uniqueidentifier] NOT NULL,
	[Nombre] [varchar](30) NOT NULL,
	[AnioIngreso] [int] NOT NULL,
	[Observaciones] [varchar](150) NOT NULL,
	[Cargo] [text] NOT NULL,
	[Nivel] [bit] NOT NULL,
	[UltimaConexion] [int] NOT NULL,
	[Tiempotrabajo]  AS ([UltimaConexion]-[AnioIngreso])
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Animes]    Script Date: 11/09/2017 09:53:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Animes](
	[Codigo] [uniqueidentifier] NOT NULL,
	[Titulo] [varchar](30) NOT NULL,
	[AnioEstreno] [date] NOT NULL,
	[Sinopsis] [varchar](150) NOT NULL,
	[Duracion] [time](7) NOT NULL,
	[Privilegio] [int] NOT NULL,
	[Precio] [int] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Peliculas]    Script Date: 11/09/2017 09:53:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Peliculas](
	[Codigo] [uniqueidentifier] NOT NULL,
	[Titulo] [varchar](30) NOT NULL,
	[AnioEstreno] [date] NOT NULL,
	[Sinopsis] [text] NULL,
	[Duracion] [time](7) NOT NULL,
	[Privilegio] [int] NOT NULL,
	[Precio] [int] NOT NULL,
	[Compra]  AS ([Precio]-(20)),
	[CompraSerio]  AS ([Precio]-(40)),
	[CompraAnime]  AS ([Precio]-(10))
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Series]    Script Date: 11/09/2017 09:53:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Series](
	[Codigo] [uniqueidentifier] NOT NULL,
	[Titulo] [varchar](30) NOT NULL,
	[AnioEstreno] [date] NOT NULL,
	[Sinopsis] [varchar](150) NOT NULL,
	[Duracion] [time](7) NOT NULL,
	[Privilegio] [int] NOT NULL,
	[Precio] [int] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Servidores]    Script Date: 11/09/2017 09:53:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Servidores](
	[ID] [uniqueidentifier] NOT NULL,
	[Modelo] [varchar](30) NOT NULL,
	[AnioCompra] [int] NOT NULL,
	[Observaciones] [varchar](150) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Subscriptores]    Script Date: 11/09/2017 09:53:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Subscriptores](
	[ID] [uniqueidentifier] NOT NULL,
	[Nombre] [varchar](30) NOT NULL,
	[Edad] [int] NOT NULL,
	[Genero] [tinyint] NOT NULL,
	[Descripcion] [text] NULL,
	[Coin] [int] NULL,
	[Servicio] [int] NOT NULL,
	[Tpago] [smallmoney] NOT NULL,
	[UsuarioElite]  AS ([Coin]+(1000))
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 11/09/2017 09:53:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuarios](
	[ID] [uniqueidentifier] NOT NULL,
	[Nombre] [varchar](30) NOT NULL,
	[Edad] [int] NOT NULL,
	[Genero] [tinyint] NOT NULL,
	[Descripcion] [text] NULL,
	[Coin] [float] NULL,
	[UsuarioNormal]  AS ([Coin]+(225))
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [Titulos_Pelis]    Script Date: 11/09/2017 09:53:02 p. m. ******/
CREATE CLUSTERED INDEX [Titulos_Pelis] ON [dbo].[Peliculas]
(
	[Titulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
