USE [master]
GO
/****** Object:  Database [Recursos Humanos]    Script Date: 02/09/2017 09:50:02 a.m. ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'Recursos Humanos')
BEGIN
CREATE DATABASE [Recursos Humanos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Recursos Humanos', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Recursos Humanos.mdf' , SIZE = 20480KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Recursos Humanos_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Recursos Humanos_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Recursos Humanos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
